body{
    margin: 0;
   padding: 50px;

}
.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
 
   

}
.form-div h1{
    width: 800px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
   
}

.input-body{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
   padding: 40px;
    color: white;
    box-shadow: 5px 5px 10px gray;
   
}





 .money-body{
     display: flex;
    justify-content: center;
     
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
 }




 #deposit-Area{

     display: none;
 }






.status{
    margin: 0 20px;
    border-radius: 10px;
    color: ivory;
    padding: 20px;
}

 .deposit{
     background-color: tomato;
 }
 .balance{
    background-color: indianred;
   
}
 
.withdraw{
    background-color: orange;
  
}

.money-calculation{
    display: flex;
   justify-content: center;
   
   
   }


